.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: transparent;
	z-index: 10;
}

.offsetTop {
	margin-top: -180px;
}
