.sider {
	background-color: red;
	padding-top: 14px;
	min-height: 100vh;
}

.mainLayout {
	min-height: 100vh;
	background: transparent;
}

.contentLayout {
	max-height: 100vh;
}

.header {
	display: flex;
	justify-content: end;
	align-items: center;
	background-color: white;
	padding-right: 12px;
}

.content {
	overflow-y: auto;
	padding: 16px;
}

.navItemContainer {
	margin-top: 24px;
	margin-left: 18px;
	display: flex;
	width: 100%;
}
.navItemContainer:hover {
	color: #4096ff;
}

.navItemIcon {
	font-size: 24px;
	margin-right: 16px;
}

.navItemText {
	margin-top: 5px;
}

.navTitle {
	font-weight: bold;
}
